Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SocketIO==5.3.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
SQLAlchemy==2.0.35
pandas==2.2.3
twilio==9.4.6
geopy==2.4.1
requests==2.32.3
WTForms==3.1.2
bcrypt==4.2.0
Jinja2==3.1.4
Werkzeug==3.0.4
python-dateutil==2.9.0.post0
numpy==2.1.1
openpyxl==3.1.5
joblib==1.4.2
python-socketio==5.11.4