
    .data_container{
      overflow-x: hidden;
    }
    .canvas-container {
      height: 100vh; /* Four times the viewport height */
    }
    .canvas {
      width: 100vw;
      height: 100vh;
      position: absolute;
    }
    #canvas1 {
      background: lightblue;
      top: 0vh;
    }
    #canvas2 {
      background: lightcoral;
      top: 100vh; /* Positioning second canvas below the first */
    }
    #canvas3 {
      background: lightgreen;
      top: 200vh; /* Positioning third canvas below the second */
    }
    #canvas4 {
      background: lightyellow;
      top: 300vh; /* Positioning fourth canvas below the third */
    }
  